<div>

  <mat-card>

    <mat-tab-group>
      <mat-tab label="Ajouter un mission">

        <br>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Nom de la mission</mat-label>
            <input matInput (ngModel)="nommission" placeholder="M-Maroantsetra" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Lieux</mat-label>
            <input matInput (ngModel)="lieux" placeholder="Ambositra">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Tache</mat-label>
            <input matInput  (ngModel)="tache" placeholder="Radio" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Tache</mat-label>
            <input matInput placeholder="Radio" >
          </mat-form-field>


          <button mat-button (click)="btnAjoutMission()">+ AJOUTER</button>
        </form>

      </mat-tab>
      <!--###################################################-->
      <mat-tab label="Voir les missions"> 
        
        <h2>Liste Mission</h2>

        <ul *ngFor="let miss of mission$">
           <li>{{ miss.nommission }}</li>
           <li>{{ miss.lieux }}</li>
        </ul>
      
      </mat-tab>
    </mat-tab-group>

  </mat-card>


</div>